repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ["-x"]
        stages: [commit]
  - repo: local
    hooks:
      - id: swift-format
        name: swift-format
        entry: swift-format
        language: system
        types: [swift]
        stages: [commit]
